<mat-toolbar>
    <mat-toolbar-row class="align-right">
        <mat-icon (click)="sidenav.toggle();">menu</mat-icon>

        <img src="https://www.pngmart.com/files/11/Shopping-PNG-Background-Image.png" alt="Logo" class="custom-logo">
        <h1 class="titulo">DeModa</h1>
        <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item>
                <div class="list-item-content">
                    <img [src]="currentUser?.foto" alt="Imagen del usuario" class="user-avatar">
                    <span class="user-name">{{ currentUser?.nombres }}</span>
                </div>
            </a>
            <a mat-list-item (click)="toggleInicioContent()">Inicio</a>
            <a mat-list-item (click)="toggleUsuariosContent()">Usuarios</a>
            <a mat-list-item (click)="toggleRegistrosContent()">Registros</a>
            <a mat-list-item (click)="logout()">Cerrar sesión</a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- Your content goes here -->
    <mat-sidenav-content>
        <!-- Your content goes here -->
        <div style="height: 88vh;">
            <!-- <app-login></app-login> Assuming 'app-login' is the selector of your LoginComponent -->
            <app-clientes-table *ngIf="showUsuariosContent"></app-clientes-table>
            <app-registros *ngIf="showRegistrosContent"></app-registros> <!-- Add this line for "Registros" -->
            <app-principal *ngIf="showInicioContent"></app-principal>

            <!-- Add your table or other components here -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>